label.coolbox {
  padding: 10px;
  margin: 6px;
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 23px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
}
label.coolbox input {display:none;}
label.coolbox span {color:white;}
//label.coolbox input:checked + span {background:blue; color: white}
.active {
  background: blue;
}
.not-active {
  background: gray;
}

section {
  display: inline-block;
}
